<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Nathan Moos</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
        <link href="/site.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/02c0f4d516.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="wrapper">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
