{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Nathan Moos
</h1>
<i>Image will go here.</i>

<div class="employment">
    <p>
        I am presently employed at <a href="https://meraki.cisco.com">Cisco
            Meraki</a> as a software engineer. I focus on router firmware and
        systems.
    </p>

    Past employment:
    <ul>
        <li>Laboratory for PROGRESS at UMich</li>
        <li>Instructional Aide, EECS 281, UMich</li>
        <li>Arbor Networks</li>
        <li>ExtraHop Networks</li>
        <li>Stratos Card</li>
    </ul>
</div>

<div class="portfolio">
    <p>I made some <a href="https://owl.mooshq.xyz">games</a>
    for the Salt Lake County Library's Harry Potter OWL Camp.</p>

    <div class="external-links">
        <a href="https://www.linkedin.com/in/nathan-moos-ab6430a2/">
            <i class="fab fa-linkedin"></i> LinkedIn
        </a>

        <a href="https://github.com/moosingin3space/">
            <i class="fab fa-github"></i> GitHub
        </a>
    </div>
</div>
{% endblock content %}
